[Unit]
Description=bela.io USB gadgets
After=usb-gadget.target
ConditionFileIsExecutable=/usr/bin/bela-start-usb-gadgets

[Service]
Type=forking
ExecStartPre=/sbin/modprobe libcomposite
ExecStart=/usr/bin/bela-start-usb-gadgets

[Install]
WantedBy=multi-user.target
