Source: bela-usb-gadgets
Section: misc
Priority: extra
Maintainer: Giulio Moro <giuliomoro@yahoo.it>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.1

Package: bela-usb-gadgets
Architecture: all
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
 , bc
 , systemd
 , generic-sys-mods
 , umtp-responder
Description: usb gadget customizations
 usb gadget customizations
